html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
}

#app-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  height: 100vh;

}

#list-filter {
  width: 100%;
  min-height: 55%;
  max-height: 55%;
  background-color: black;
  color: white;
  height: 100%;
  min-height: min-content;
}

.list {
  height: 300px;
  overflow: auto;
}

#map {
  flex: 1;
  height: 45%;
}

@media screen and (min-width: 480px) {
  #app-container {
    flex-direction: row;
  }

  #list-filter {
    width: 33%;
    min-width: 200px;
    max-width: 300px;
    max-height: 100%
  }

  #map {
    height: 100vh;
    width: auto;
  }

  .list {
    height: 100%;
  }



}

