html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
}

#app-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  height: 100vh;

}

#list-filter {
  width: 100%;
  min-height: 55%;
  max-height: 55%;
  background-color: #292929;
  color: #ffffff;
  height: 100%;
  min-height: min-content;
}

#filter-query {
  width: wa98%;
}

.list {
  height: 300px;
  overflow: auto;
}


ul {
  padding-left: 20px;
}


li {
  list-style: none;
  margin-bottom: 10px;
}

li:hover {
  cursor: pointer;
}

.chosen {
  color: red;
}

#map {
  flex: 1;
  height: 45%;
}

/* INFO WINDOW STYLE */
.no-info-window-photo {
  width: 100px;
  height: 70px;
  background-color: #a0a0a0;
  text-align: center;
  padding-top: 25px;
}

.info-window-title {
  size: 25px;

}

.google-rating, .foursquare-rating {
  margin: 0;
}

.ratings-header {
  margin-bottom: 0;
  margin-top: 4px;
  text-decoration: underline;
}

@media screen and (min-width: 480px) {
  #app-container {
    flex-direction: row;
  }

  #list-filter {
    width: 33%;
    min-width: 200px;
    max-width: 300px;
    max-height: 100%
  }

  #map {
    height: 100vh;
    width: auto;
  }

  .list {
    height: 100%;
  }

}

