html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
}

 :focus {
   border: 3px solid blue;
 }

 button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


#app-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  height: 100vh;

}

h1 {
  font-size: 1.2em;
}

#list-filter {
  width: 100%;
  min-height: 55%;
  max-height: 55%;
  background-color: #292929;
  color: #ffffff;
  min-height: min-content;
}

#filter-query {
  width: 98%;
  height: 28px;
}

.list {
  height: 175px;
  overflow: auto;
}


ul {
  padding-left: 20px;
}


li {
  list-style: none;
  margin-bottom: 10px;
}

li:hover {
  cursor: pointer;
}

.cafe-list-item {
  size: 18px;
}


.chosen {
  color: rgb(255, 106, 106);
  font-weight: bold;
}

.address-line {
  size: 14px;
  font-weight:normal;
}

#map {
  flex: 1;
  height: 45%;
}

/* INFO WINDOW STYLE */
.no-info-window-photo {
  width: 100px;
  height: 70px;
  background-color: #a0a0a0;
  text-align: center;
  padding-top: 25px;
}

.info-window-title {
  size: 25px;
  max-width: 140px;
  margin: 0;
}

.google-rating, .foursquare-rating, .open-status {
  margin: 0;
}

.ratings-header {
  margin-bottom: 0;
  margin-top: 4px;
  text-decoration: underline;
}

.foursquare-attribution {
  font-size: 80%;
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

.error-message {
  background-color: #ee3a3ad2;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: .5em;
  border: 2px solid #0000008c;
  padding: .5em;
  display: block;
  position: absolute;
  right: 3%;
  top:-80px;
  min-width: 200px;
  max-width: 350px;
  height: 55px;
  transition: top .8s ease-in-out;
}

.err-subtext {
  font-weight: normal;
  font-size: .75em;
}

.showing {
  top: 5px;

}

@media screen and (min-width: 480px) {
  #app-container {
    flex-direction: row;
  }

  #list-filter {
    width: 33%;
    min-width: 275px;
    max-width: 325px;
    max-height: 100%
  }

  #map {
    height: 100vh;
    width: auto;
  }

  .list {
    height: 100%;
  }

  .cafe-list-item {
    font-size: 19px;
  }

  h1 {
    font-size: 1.5em;
  }
}

